<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/0281d1a3-200c-466c-99b4-c339221a6fe9/resourcegroups/MyMVCShoppingCartGroup/providers/Microsoft.Web/sites/MVCShoppingCart20180403122258</ResourceId>
    <ResourceGroup>MyMVCShoppingCartGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://mvcshoppingcart20180403122258.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>mvcshoppingcart20180403122258.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MVCShoppingCart20180403122258</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$MVCShoppingCart20180403122258</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Db" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:mvcshoppingcart20180403122258dbserver.database.windows.net,1433;Initial Catalog=MVCShoppingCart20180403122258_db;User ID=foxulee@mvcshoppingcart20180403122258dbserver;Password=Hujialei3" Name="Data Source=tcp:mvcshoppingcart20180403122258dbserver.database.windows.net,1433;Initial Catalog=MVCShoppingCart20180403122258_db;User Id=foxulee@mvcshoppingcart20180403122258dbserver;Password=Hujialei3" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MVCShoppingCart.Models.Data.Db, MVCShoppingCart" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="Db-Web.config Connection String">
      <ParameterValue>Data Source=tcp:mvcshoppingcart20180403122258dbserver.database.windows.net,1433;Initial Catalog=MVCShoppingCart20180403122258_db;User Id=foxulee@mvcshoppingcart20180403122258dbserver;Password=Hujialei3</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>